<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69717b">  <td>18/09/06 09:10:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckRegistration.verifyRegistrationSuccessful()[pri:0, instance:demo.test.CheckRegistration@33990a0c]">verifyRegistrationSuccessful</td> 
  <td>main@1725165248</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/06 09:11:03</td>   <td>54432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckRegistration.verifyRegistrationUnsuccessful()[pri:0, instance:demo.test.CheckRegistration@33990a0c]">verifyRegistrationUnsuccessful</td> 
  <td>main@1725165248</td>   <td></td> </tr>
</table>
